body {
  background-color: #fff;
  color: rgb(51,51,51);
  font-size: 16px;
}

h1 {
  font-size: 2em;
  text-transform: capitalize;
  font-weight: bold;
  font-family: sans-serif;
}

h3 {
  font-size: 125%;
  font-style: italic;
  margin-bottom: 1em;
}

p {
  font-size: 100%;
  line-height: 1.35;
  margin-bottom: 1em;
}

.author {
  text-transform: uppercase;
  font-family: sans-serif;
}

figcaption {
  font-family: sans-serif;
  margin-bottom: 1em;
  font-size: 0.7em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

a:link {
  color: #fff;
  } /* unvisited */

a:hover {
  color: #d3d1d1;
  font-weight:900;
  } /* mouse over */

a:active {
  font-style: italic;
  } /* selected */

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
